@charset "utf-8";



table {
  border-collapse: collapse;
  border:.5vw solid #6495ED;
  margin:auto;
}
th, td {padding: 1em; }
tr:nth-child(odd) {
  background-color: #87CEFA; /* deep purple */
  color: white;
  }
  
  h1 {
      text-align:center;
  }
  
  h2 {
text-align:center;
  }
  
  
  
  p {
text-align:center;
  }
  
  body{
      text-align:center;
  }
  
  figcaption {
      font-style:italic;
      font-size: 10px;
  }

img {
  border: 5px solid #6495ED;
	position: left;
}

.des {
    font-size: 10px;
}


/*
hero text*/
.hero-text{
    text-align:center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.title {
	font-size: 60px;
	font-family: 'Courier New', monospace;
	position: absolute;
 	right: 50px;
 	top: 50%;
}

.bookpic {
 width: 100%;
  height: 400px;
  padding-top: 150px;
	/*  position: relative;
	left: 00;
	top: 22.5%;
	width: 250px; */
}



.social-media-links {
    width: 100%;
    left: 500px;
    bottom: 100px;
    object-position:  left top;
    /*  position: absolute;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center; */
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.about-navbar {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #F6BA96;
}
.about-active {
	background-color: #F6BA96;
}
.about-info {
	font-size: 40px;
	display: block;
    font-family:  Copperplate, Papyrus, fantasy;
    white-space: pre;
    margin: 1em 0px;
	
}

.classNum {
	font-size: 30px;
	font-family: Copperplate, Papyrus, fantasy;
	/* position: absolute;
 	top: 30%; */
 	;
 	padding-bottom: 100px;
}

body {
	margin: 0;
    width: 100vw;
    height: 100vh;
}
.about-body{
	font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.about-section {
  position: fixed;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.about-header {
	padding:128px 16px;
	
}

.about-background {
	background-color: #f44336!important;
}
span.person{
    color:pink;
}
span.action{
    color:blue;
}
span.animal{
    color:green;
}
.PJT {
	text-align:center;
    position: absolute;
    top: 35%;
    left: 40%;
	font-family: 'Courier New', monospace;
}

.codeview {
	border: 5px solid #6495ED;
}
