@charset "utf-8";








.title {
	font-size: 90px;
	font-family: 'Courier New', monospace;
	position: absolute;
 	right: 00px;
 	top: 50%;
}

.bookpic {
	position: absolute;
	left: 00;
	top: 22.5%;
}



.social-media-links {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #F6BA96;
}
.about-info {
	font-size: 40px;
	display: block;
    font-family:  Copperplate, Papyrus, fantasy;
    white-space: pre;
    margin: 1em 0px;
	
}

.classNum {
	font-size: 90px;
	font-family: Copperplate, Papyrus, fantasy;
	position: absolute;
 	right: 00px;
 	top: 30%;
}

body {
	margin: 0;
    width: 100vw;
    height: 100vh;
}
